.circle {
  width: 20px;
  height: 20px;
  line-height: 18px;
  border-radius: 50%;
  color: hsl(var(--clr-red));
  text-align: center;
  background: hsl(var(--clr-white));
  margin-left: -30px;
}

.products-board {
  margin: 2rem 0;
}

.product-show-page {
  margin-inline: 15rem;
}

.box-img-selected {
  margin-top: 2rem;
}

.image-selected {
  width: auto;
  max-width: 20rem;
  height: auto;
}

.product-img-show {
  width: auto;
  max-width: 20rem;
  height: auto;
  margin: 2rem auto 1rem auto;
}

.cart-quantity-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.cart-quantity-number {
  margin-inline: 6px;
}

.cart-quantity-btn {
  font-size: calc(var(--fs-400) + 0.25rem);
  color: hsl(var(--clr-strong_blue));
}

.cart-quantity-btn:hover {
  cursor: pointer;
  color: hsl(var(--clr-red));
}

.cart-unitary-price {
  text-align: end;
}

.subheader {
  display: flex;
  margin: auto;
}

.subheader-logo {
  font-size: var(--fs-600);
  max-width: 3rem;
  margin-bottom: 1rem;
}

.sublogo-2 {
  font-size: var(--fs-500);
  margin-left: 1rem;
}

.subheader-logo:hover {
  color: hsl(var(--clr-red));
}

.cart-total {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
